{% load menu %}
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-bg">
                    <div class="row">
                        <div class="col-md-9">
                            {% show_menu 'footer-menu' %}
                        </div>
                        <div class="col-md-3">
                            <div class="footer-icon">
                                <p><a href="gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a><a href="https://www.instagram.com/nikolaipashkeveech/"><i class="fa fa-instagram" aria-hidden="true"></i></a><a href="https://www.linkedin.com/in/nickpashkevich/"><i class="fa fa-linkedin" aria-hidden="true"></i></a><a href="https://github.com/Nicolai94"><i class="fa fa-github" aria-hidden="true"></i></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>